p {
  color: #ff0000;
}

#Focus {
  color: blue;
  border: 1px solid #ff0000;
}

.Highlight {
  color:blanchedalmond;
  background-color: #ffff00;
  font-weight: bold;
}

span:first-child {
  color: aqua;
}

span:last-child {
  color: aquamarine;
}

body {
  background-color: #000000;
}

p {
  color: #ffffff;
}

p {
  font-size: 1.5em;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}